/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  
}
body {
  background-image: url(http://cdn.pcwallart.com/images/gradient-wallpaper-2.jpg);
  margin: 0;
  padding: 0;
}

* {
}
header {
  height: 200px;
  
}
h1 {
  font-size: 48px;
  font-family: 'Arial', sans serif;
  color: #333333;
  text-align: center;
}

h2 {
  font-size: 16px;
  font-family: 'Arial', sans serif;
  color: black;
}
p {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

a {
  color: #016367;
  text-decoration: underline;
    
  }

img {
  height: 50px;
  width: 50px;
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top:15px;
}

input {
  width: 236px;
  height: 28px;
  border: 1px solid;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
  background: #cdcdcd;   
}

input[type="submit"] {
  height: 28px;
  border: 1px solid #231f20;
  color: black;
  font-size: 14px;
  padding: 0 20px;
  cursor: pointer;
}

.main_content {
  height: auto;
  margin: 10px 20px;
  padding: 5%;
}

.message_content {
  background: #ffffff;
  margin: 20px;
  padding: 2%;
  border: white 2px solid;
  border-radius: 10px;
}
.header_container {
  background: rgba(216, 233, 211, 0.3);
  height: 150px;
  width: 100%;
  margin: 50px 0px;
  padding-bottom: 25px;
  vertical-align: text-top;
}
.wrapper {
  margin: 0 auto;
  background-color: rgba(243, 248, 242, 0.2);
}
.footer-wrapper {
  height: 60px;
  width: 100%;
  padding: 2%;
  background: #231f20;
}

